
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ASNMT_3_EAD.Models.Posts;
<div class="container mt-5">

    <div class="row mb-5 content">
        <div class="col-sm-2 class="col-sm-2 mr-5">
            <img src="@Model.getProfileImage()" width="100px" height="100px" style="border-radius:50%" />
        </div>
        <div class="col-sm-10">
            <h5 style="color: #428beb">@Model.UserName <span style="color: #e3dede; font-size:14px; margin-left:3%">@Model.Date</span></h5>
            <hr style="width:100%" />
            <h1>@Model.Title</h1>
            <p>@Model.Content</p>
            @if (Model.UserName.Equals (Model.user2))
            {
                <div>
                    <button type="button" class="btn btn-secondary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            }

        </div>
    </div>

    
</div>

